*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
build eggs
bin
var
build/

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
coverage.xml

# Virtual environments
venv/
env/
dev.db
.cac/v/cache

.idea

# pytest cache
.pytest_cache/**
.pytest_cache/
.pytest_cache/*
*/__pycache__/

# pip install direction
.modules/

# db migrations
migrations/

*.db
*/*.db
