{% extends "base/base.html" %}
{% block content %}
  <!-- ======= Mobile nav toggle button ======= -->
  <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">
    <nav id="navbar" class="navbar nav-menu">
      <ul>
        <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
        <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
        <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->
  </header><!-- End Header -->
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>John O'Grady</h1>
      <p>I'm a <span class="typed" data-typed-items="Systems Engineer, Designer, Developer, Freelancer, Consultant"></span></p>
      <div class="social-links">
        <a target="_blank" href="https://www.linkedin.com/in/jpogradyire" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        <a target="_blank" href="https://github.com/natedrake" class="github"><i class="bx bxl-github"></i></a>
        <a target="_blank" href="https://www.facebook.com/johnpatrickogrady/" class="facebook"><i class="bx bxl-facebook"></i></a>
      </div>
    </div>
  </section><!-- End Hero -->
  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
          <p>
            A tech enthusiast with a genuine passion for anything technical, such as developing websites,
            programming, game development, and home automation.
          </p>
        </div>

        <div class="row">
          <div class="col-lg-4 text-center">
            <img style="height:75%;" src="img/john_social_2.jpg" class="img-fluid rounded" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <h3>Systems Engineer @ AWS DNS</h3>
            <p class="fst-italic">
              Responsible for designing and maintaining a global DNS infrastructure for Amazon sites globally.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <!-- <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>1 May 1995</span></li> -->
                  <li class="text-muted"><i class="bi bi-chevron-right"></i>Website:&nbsp;<span class="fw-lighter"><a target="_blank" href="https://www.johnogrady.ie">https://www.johnogrady.ie</a></span></li>
                  <li class="text-muted"><i class="bi bi-chevron-right"></i>LinkedIn:&nbsp;<span class="fw-lighter"><a target="_blank" href="https://www.linkedin.com/in/jpogradyire">jpogradyire</a></span></li>
                  <li class="text-muted"><i class="bi bi-chevron-right"></i>City:&nbsp;<span class="fw-lighter">Dublin, Ireland</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li class="text-muted"><i class="bi bi-chevron-right"></i>Degree:&nbsp;<span class="fw-lighter">Bachelor of Science</span></li>
                  <li class="text-muted"><i class="bi bi-chevron-right"></i>Email:&nbsp;<span class="fw-lighter"><a href="mailto:john@johnogrady.ie">john@johnogrady.ie</a></span></li>
                  <li class="text-muted"><i class="bi bi-chevron-right"></i>Freelance:&nbsp;<span class="fw-lighter">Available</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Skills</h2>
          <p>
          </p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">HTML <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CSS <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">JavaScript <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Python <i class="val">85%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">PHP <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Elastic Load Balancing <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">AWS Architecture <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Networking / TCP <i class="val">85%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Resume</h2>
          <p>
          </p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Summary</h3>
            <div class="resume-item pb-0">
              <h4>John O'Grady</h4>
              <p><em>Innovative and deadline-driven Engineer with 7+ years of experience in designing, developing, troubleshooting, and maintaining large-scale infrastructure.</em></p>
              <ul>
                <li class="fw-lighter">Dublin, Ireland</li>
                <li><a class="fw-lighter" href="tel:+353 85 731 0686">+353 85 731 0686</a></li>
                <li><a class="fw-lighter" href="mailto:john@johnogrady.ie">john@johnogrady.ie</a></li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Bachelor of Science (Honours) in Computer Science</h4>
              <h5>2014 - 2018</h5>
              <p><em>National College of Ireland, Dublin, Ireland</em></p>
              <p>Advanced Web Design/Web Development, Advanced Databases, Advanced Secure Programming. Specializing in Cyber Security and Digital Forensics.</p>
            </div>
            <div class="resume-item">
              <h4>Patrician Secondary School</h4>
              <h5>2010</h5>
              <p><em>Patrician Brothers Secondary School, Kildare, Ireland</em></p>
              <p>Leaving Certificate obtained in 7 subjects.</p>
            </div>

            <h3 class="resume-title">Qualifications</h3>
            <div class="resume-item">
              <h4>Microsoft Certificate Solutions Associate</h4>
              <h5>2013</h5>
              <ul>
                <li>Configuring Windows Server 2008R2 Active Directory(70-640)</li>
                <li>Configuring Windows Server 2008R2 Network Infrastructure(70-642)</li>
                <li>Windows Server 2008R2 Server Administrator(70-646)</li>
              </ul>
            </div>

            <div class="resume-item">
              <h4>Cisco Certified Entry-level Network Technician</h4>
              <h5>2012</h5>
              <ul>
                <li>Inter Connecting Network Devices (ICND1-640-822)</li>
              </ul>
            </div>

            <div class="resume-item">
              <h4>Computer Network Installation and Maintenance</h4>
              <h5>2012</h5>
              <ul>
                <li>CompTIA A+(220-701, 220-702)</li>
                <li>CompTIA Network+(N10-004)</li>
                <li>Configuring Windows Server 2008 R2 Active Directory(70-640)</li>
              </ul>
            </div>

          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Systems Engineer @ Infrastructure DNS</h4>
              <h5>2020 - Present</h5>
              <p><em>Amazon Data Services, Dublin, Ireland</em></p>
              <ul>
                <li>Designed and maintained the business critical service of DNS for all sites globally.</li>
                <li>Developed our system and monitoring usingh infrastructure as Code to create our DNS services, and service monitoring.</li>
                <li>Performing operational maintanence on our infrastructure to improve user experience.</li>
                <li>Creating business analytic dashboards for management for review in weekly meetings.</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Cloud Support Engineer II (Networking)</h4>
              <h5>2019 - 2020</h5>
              <p><em>Amazon Web Services, Dublin, Ireland</em></p>
              <ul>
                <li>Developed numerous training modules for new hires</li>
                <li>Resolved the most complex issues for our Enterprise Customers.</li>
                <li>Managed complex issues relating to Elastic Load Balancing as part of the ELB Subject Matter Expert group.</li>
                <li>Created 3+ Quicksight dashboards for service teams and higher management</li>
              </ul>
            </div>

            <div class="resume-item">
              <h4>Cloud Support Engineer (Networking)</h4>
              <h5>2017 - 2019</h5>
              <p><em>Amazon Web Services, Dublin, Ireland</em></p>
              <ul>
                <li>Interviewed & Hired new candidates</li>
                <li>Resolved the most complex issues for our Enterprise Customers.</li>
                <li>Updated internal website that increased to the time-to-resolve on support cases by 25%</li>
                <li>Mentoring new hires, and mentoring engineers for career progress.</li>
              </ul>
            </div>

            <div class="resume-item">
              <h4>Cloud Support Associate (Networking)</h4>
              <h5>2017</h5>
              <p><em>Amazon Web Services, Dublin, Ireland</em></p>
              <ul>
                <li>Resolved complex issues for our Business & Developer customers.</li>
                <li>Designed small to medium sized customers systems using AWS services</li>
                <li>Gained knowledge in AWS Networking services, such as VPC, Auto-Scaling, ELB, and more</li>
                <li>Maintained a perfect customer relation score dealing with clients </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row mt-1">
          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Terenure, Dublin, Ireland</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p><a target="_blank" href="mailto:john@johnogrady.ie">john@johnogrady.ie</a></p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p><a href="tel:+353857310686">+353 85 731 0686</a></p>
              </div>
            </div>
          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">
            <div id="form-output"></div>
            <form id="contact-form" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input id="name" type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input id="email" type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input id="subject" type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea id="message" class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="text-center mt-3"><button disabled type="submit">Send Message</button></div>
              <div class="row">
                <div class="col-md-4 offset-md-4 mt-4">
                  <div class="g-recaptcha" data-sitekey="6LelF_8bAAAAAJReuJe8MlocKlYAlP_7aPMl8yVG" data-callback="onReCaptchaCheck"></div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->
  </main><!-- End #main -->
{% endblock %}
